﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.hear-red {
    color: #FF5A79;
}

textarea {
    resize: none;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.taj {
text-align:justify;
}
.no-pd {
    padding: 0px;
}

.no-pd-LR {
    padding-left: 0px;
    padding-right: 0px;
}

.no-pd-L {
    padding-left: 0px;
}

.no-pd-R {
    padding-right: 0px;
}

.bsc-pd {
    padding: 15px;
}

.ovf-y {
    overflow-y: auto;
}



.modal-sm {
    max-width: 300px;
}

.modal-lg {
    width: 900px;
}






.picture_profile {
    width: 210px;
    height: 250px;
    /*margin-top: 20px;*/
}

.hide {
    display: none;
}

/*pagina home*/


.bg-color-nav {
    background-color: #222222;
}

.difuminado {
    background-color: rgba(34,34,34,0.8) !important;
}

.img-logo {
    position: fixed;
    cursor:pointer;
}
.img-prop {
    position: relative;
    width: 100%;
    text-align: center;
    height: 204px;
    /*line-height: 200px;*/
    overflow:hidden;
}

.img-mes {
    width: auto;
    max-height: 200px;
    max-width: 340px;
    vertical-align:middle;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 18px;
}

.top-right {
    position: absolute;
    top: 38px;
    right: 0px;
}

.img-over {
    height:40px;
    width:auto;
}


.imagen-logo {
    margin-top: 5px;
    height: 90px;
    width: auto;
    border: 1px solid #efb011;
    border-radius: 5px;
}

.wrapper {
    background-image: url("imgs/fondo-inicio.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: white;
    /*padding-top: 20px;*/
    background-color: rgba(0, 0, 0, 0.5);
    /*background: rgba(0, 0, 0, 0.5);*/
    min-height: 500px;
}

.btn-filtro {
    padding: 20px 100px 20px 100px;
}

.fantom {
    background-color: rgba(238, 238, 238, 0.8);
}

.section-Search, .tipoButtons {
    padding-top: 40px;
    padding-bottom: 20px;
}

/*.tipoButtons {
}*/

.mrg-TB {
    padding-top: 40px;
}

.element {
    color: #282625;
    margin-top:5px;
}

.border {
    border: 3px #f0ad4e solid;
    padding: 15px;
}

.div-rounded {
    border-radius: 50%;
    padding: 5px;
    background-color: #222222;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
}

.spf-text {
    font-size: 12px;
    text-align: center;
}

.price-prop {
    color: #222222;
    font-size: 20px;
    font-weight: 600;
}

.specifications {
    padding-top: 30px;
}



.sect-direction {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 20px;
}

/*section ASESOR*/
.asesor-img {
    width: 100%;
    max-height: 300px;
    max-width: 340px;
    min-height: 200px;
    min-width: 240px;
}

.asSection {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ffffff;
}
/*section CONTACTO*/
.header-contacto {
    background-color: #F0AD4E;
    color: #ffffff;
}

/*.maps {
}*/

.datosContacto {
    padding-top: 20px;
}

#btnSend {
    border-radius: 0px;
}

.p-message {
    font-size: 15px;
}

.padding-TB {
    padding-top: 15px;
}

#imgResult {
    /*height:400px;
    width:300px;*/
    cursor: pointer;
}

.btn-control {
    background-color: white !important;
    /*color: #222222 !important;*/
}

.success-color {
    color: #47A447 !important;
}



/*Pagina de RESULTADOS*/

.spf-text {
    font-size: 10px;
}

.buscadorResults {
    padding-top: 35px;
}

    .buscadorResults select {
        border-radius: 0px;
    }

#slctCompra {
    background-color: #F0AD4E;
    color: white;
    font-weight: 600;
}

    #slctCompra option {
        background-color: #F1F1F1;
        color: #222222;
    }




.pd-LR {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-black {
    color: #ffffff;
    background-color: #1C0F0A;
}

    .btn-black:hover {
        color: #ffffff;
        background-color: #000000;
    }

.filterResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

.esconder {
    display: none;
}

.sections {
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-asesor {
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
}

.no-pd-LR {
    padding-left: 0px;
    padding-right: 0px;
}


.jumbotron {
    margin-bottom: 0px !important;
}

.divGray {
    background-color: rgba(2,2,2,0.5);
    min-height: 500px;
}

/*Propiedades*/

.elm {
    /*max-height:389px;*/
    height: 389px;
}

/* imagenes de propiedades*/

.img-container {
    position: relative;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    height: 380px;
    line-height: 376px;
}

.image {
    /*display: block;*/
    width: auto;
    max-height: 376px;
    max-width: 385px;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    cursor: pointer;
}

.img-container:hover .overlay {
    opacity: 0.8;
}

.over-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


/*end imagenes de propiedades*/

body {
    font-family: 'Century Gothic' !important;
}


/*MENU ASESORES*/

.contenedor {
    padding-top: 20px;
}

.tr-black th {
    background-color: #3a3a3a;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.cell-gray {
    background-color: #EEEEEE;
    border: 1px solid #ffffff;
}

.txt-yellow {
    color: #efb011;
}

.bold {
    font-weight: 600;
}

.imageAsesor {
    display: block;
    width: auto;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 300px;*/
}

.sctAsesor div {
    font-size: 14px !important;
    margin-bottom: 10px;
}
/*Paginacion de datatable*/
.paginate_button {
    border-radius: 0px !important;
    border: 0px !important;
    background: none !important;
    background-color: #eeeeee !important;
}

    .paginate_button.next, .paginate_button.previous {
        color: #ffffff !important;
        background-color: #efb011 !important;
    }


/*mision y visión*/

.info-left {
    padding-left: 50px;
}

.bdr-left {
    border-left: 5px #efb011 solid;
}

.info-right {
    padding-right: 50px;
}

.bdr-right {
    border-right: 5px #efb011 solid;
}


/*DETALLE DE PROPIEDAD*/

#precio-p {
    font-size:25px;
    top:26px;
    border-radius:0px;
}
.section-propiedad {
    border: 1px #aaaaaa solid;
    /*padding-left:15px;*/
}

.card-block {
    border: 1px #eee solid;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px #eee;
}

.light {
    font-weight: 100;
}

.carousel-inner > .item {
    text-align:center;
    width: 647px ;
    height: 400px !important;
}

.section-two {
    margin-top: 15px;
}

#img-asesor {
    width: 100%;
    height: auto;
}

.img-propiedad {
    
    width: 100%;
    height: auto;
    cursor: pointer;
    max-height: 72px;
}

.carousel-indicators .active {
    background-color: #efb011;
}

.pd-t {
    margin-top: 10px;
}

.pd-modal {
    padding-bottom: 100px;
}


.navbar-header {
    background-color: #222222;
}

.img-min-cont {
    position: relative;
    width: 100%;
    /*border: 1px solid black;*/
    text-align: center;
    height: 80px;
}

.image-min {
    width: auto;
    height: 79px;
}

.carousel-inner > .item > .img-item-cont {
    position: relative !important;
    width: 100% ;
    /*border: 1px solid black;*/
    text-align: center !important;
    height: 400px ;
}

.carousel-inner > .item img {
    width: auto !important;
    height: 398px ;
}

.mg-T {
    margin-top:10px;
}
.bg-gray {
    background-color:#eee;
}
.border-mini {
    border:1px solid #fff;
}

/* FORMULARIOS */
.formulario-block {
    cursor:pointer;
}

.cbx-frm {
    width: 20px;
    height:20px;
}
.lbl-cond {
    font-size:12px;
}

#sect {
    margin-bottom: 10px;
}

.sec-mb {
    margin-bottom:10px;
}

/*DOCUMENTOS*/
.div-eliminar {
    color: #d9534f;
    font-size: 50px;
}

.margin-tb{
    margin-top: 15px;
    margin-bottom:15px;
}



@media (min-width: 320px) {
    .modal-sm {
        margin-right: auto;
        margin-left: auto;
    }
    
}



@media (max-width: 620px) {
    .img-prop {
        display:none;
    }
    .img-century-prop {
        display:none;
    }
    #propMes {
        padding-left:0px;
        padding-right:0px;
    }
    /*.carousel-inner > .item {
        width: auto !important;
    }*/

        /*.carousel-inner > .item > .img-item-cont {
            width: auto !important;
            line-height: 30 !important;
        }*/

        .carousel-inner > .item img {
            width: 100% !important;
            height:auto;
        }

}

@media (min-width: 620px) {
    .modal-dialog {
        margin-right: auto;
        margin-left: auto;
    }

    .modal-lg {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media(max-width: 768px) {
    .div-rounded {
        border-radius: 0px;
        font-size: 10px;
    }
    .imagen-logo {
        height: 40px;
        width: auto;
    }
    .img-century-prop {
        display:none;
    }
    .image {
        max-height: 330px;
    }
    .top-left {
        left: 66px;
    }
    .carousel-inner > .item {
        width: auto;
        line-height:30;
    }
        /*.carousel-inner > .item > .img-item-cont {
            width: 530px !important;
        }

        .carousel-inner > .item img {
            width: 530px !important;
        }*/
}

@media (min-width: 768px) {


    .modal-dialog {
        margin: 30px auto;
    }
}

@media (min-width: 920px) {

    .modal-lg {
        margin-right: auto;
        margin-left: auto;
    }
}