﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="RO Solutions" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Century 21</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTableCSS")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/Content/fa-svg")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/WaitMe/waitMe.min.css" rel="stylesheet" />
    <script src="~/Scripts/generales/validations.js"></script>

    <style>
        .btn-success {
            color: #ffffff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .error {
            color: red;
        }
    </style>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:none;">
        <div class="container img-logo" onclick="home();">
            <img src="~/Content/imgs/Logo_Blanco_Century.png" alt="Alternate Text" class="imagen-logo" />
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse bg-color-nav">
            <div class="container">
                <ul id="" class="nav navbar-nav navbar-right">
                    <li><a><i class="fab fa-facebook-f"></i></a></li>
                    <li><a>|</a></li>
                    <li><a class="bold"><i class="fas fa-phone"></i>(662)214-3445</a></li>
                    <li><a>|</a></li>
                    <li><a class="bold"><i class="fas fa-envelope"></i> Contacto@century21elga.com</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse difuminado">
            <div class="container">
                <ul id="ul-admin" class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Propiedades", "Index", "Propiedades")</li>
                    @if (Convert.ToInt16(Session["type"]) == 1)
                    {
                        <li>@Html.ActionLink("Asesores", "index", "Asesores")</li>
                        <li>@Html.ActionLink("Clientes", "index", "Clientes")</li>
                    }

                    <li>@Html.ActionLink("Documentos", "Documentos", "Admin")</li>
                    <li>@Html.ActionLink("Formularios", "Formularios", "Admin")</li>
                    <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Account")</li>
                </ul>
            </div>
        </div>


    </div>


    <div class="container contenedor">
        @RenderBody()
    </div>

    <div class="container no-pd-LR">
        <hr />
        <footer class="col-lg-12 tac">
            <p>&copy; @DateTime.Now.Year - Powered With <i class="fas fa-heart hear-red"></i> By RO Solutions</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function home() {
            window.location.href = "/";
        };
    </script>

</body>
</html>
