﻿
@{
    ViewBag.Title = "Documentos";
    Layout = "~/Views/Admin/AdminIdx.cshtml";


    <script>
        var userid = '@Session["userid"]';
        var xTok = '@Session["tok"]';
        var userType = @Convert.ToInt16(Session["type"])
    </script>
        }

<div class="container contenedor no-pd-LR">

    <div class="panel panel-default" style="margin-top:15px;">
        <div class="panel-heading">
            <h3>Documentos</h3>
        </div>
        <div cass="panel-body " style="padding:10px;">
            @if (Convert.ToInt16(Session["type"]) == 1)
            {
                <div class="col-lg-12 margin-tb">
                    <button id="btnSubir" class="btn btn-success">Agregar</button>
                </div>
            }

            <div class="col-lg-12 col-xs-12 ovf-y">

                <div class="table-responsive col-lg-12">

                    <table id="tblDoctos" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Subido el</th>
                                <th>Documento</th>
                                <th class="tac">Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

</div>


@if (Convert.ToInt16(Session["type"]) == 1)
{
    <div id="modal-subir" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formUpload" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titleAsesor">Agregar Asesor</h4>
                    </div>
                    <div class="modal-body">
                        @*<div class="form-group">

                                <input type="text" class="form-control" id="file-name" name="file-name" value="" />
                            </div>*@
                        <div class="form-group tac">
                            <button type="button" class="btn btn-lg btn-info" onclick="$('#inp-file').click()">Seleccionar Documento</button>

                            <input type="file" class="hide" id="inp-file" name="file-name" value="" />
                        </div>
                        <div class="col-lg-12 tac">
                            <lablel>Documento Seleccionado:</lablel>
                            <br />
                            <label id="fileName"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button id="btnSmtSubir" type="button" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modal-delete" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titleAsesor">Eliminar</h4>
                </div>
                <div class="modal-body tac">
                    <div class="col-lg-12 tac div-eliminar"><i class="fas fa-exclamation-triangle"></i></div>
                    <h4 class="bold">¿Ésta seguro que desea eliminar el documento?</h4>
                    <h2 id="docName" class="bold">documento.doc</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnDelDoc" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script src="~/Content/DataTable/jquery.datatables.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/generales/validations.js"></script>
    <script src="~/Content/WaitMe/waitMe.min.js"></script>
    <script src="~/Scripts/Documentos/Documentos.js"></script>
}

