﻿
@{
    ViewBag.Title = "Formularios";
    Layout = "~/Views/Admin/AdminIdx.cshtml";
}

<div class="container contenedor">

    <div class="panel panel-default" style="margin-top:15px;">
        <div class="panel-heading">
            <h3>Formularios</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12 col-xs-12">

                <div id="descTec" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 formulario-block">
                    <div class="card-block" data-toggle="modal" data-target="#modal-des-tec">
                        <i class="fas fa-file"></i> Descripción Técnica
                    </div>
                </div>

                <div id="descCual" class="col-lg-4 col-md-4 col-sm-12 col-xs-12  formulario-block">
                    <div class="card-block">
                        <i class="fas fa-file"></i> Descripción Cualitativo
                    </div>
                </div>

                <div id="valCom" class="col-lg-4 col-md-4 col-sm-12 col-xs-12  formulario-block">
                    <div class="card-block" data-toggle="modal" data-target="#modal-des-cual">
                        <i class="fas fa-file"></i> Valor Comercial
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!--- section modal DESCRIPCIÓN TÉCNICA-->
<div id="modal-des-tec" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="formAsesor" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titleAsesor">Agregar Asesor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="doc-prop">Propiedad</label>
                        <textarea id="doc-prop" name="doc-prop" type="text" class="form-control" placeholder=""></textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="doc-niveles">Niveles</label>
                            <input id="doc-niveles" name="doc-niveles" type="number" class="form-control" placeholder="Ingrese Apellidos" required>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="docCubiculos">Cubiculos</label>
                            <input id="docCubiculos" name="docCubiculos" type="number" class="form-control" placeholder="Ingrese Nombre Usuario" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="docGarage">Garage</label>
                            <input id="docGarage" name="docGarage" type="number" class="form-control" placeholder="Ingrese Apellidos" required>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="doc-refrigeracion">Refrigeración</label>
                            <input id="doc-refrigeracion" name="doc-refrigeracion" type="number" class="form-control" placeholder="Ingrese Nombre Usuario" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="doc-piso">Tipo de Piso</label>
                        <input id="doc-piso" name="doc-piso" type="text" class="form-control" placeholder="Ingrese Nombre Usuario" required>
                    </div>
                    <!--secion de checkboxs-->
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-equipada">Equipada</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-equipada" name="doc-equipada" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-amueblada">Amueblada</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-amueblada" name="doc-amueblada" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-sala">Sala</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-sala" name="doc-sala" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-hall">Hall</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-hall" name="doc-hall" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-vestibulo">Vestibulo</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-vestibulo" name="doc-vestibulo" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-cocina">Cocina</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-cocina" name="doc-cocina" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>


                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-comedor">Comedor</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-comedor" name="doc-comedor" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-cuarto-servicio">Cuarto Servicio</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-cuarto-servicio" name="doc-cuarto-servicio" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-lavanderia">Lavandería</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-lavanderia" name="doc-lavanderia" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-desayunador">Desayunador</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-desayunador" name="doc-desayunador" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-patio">Patio</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-patio" name="doc-patio" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-terraza">Terraza</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-terraza" name="doc-terraza" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estudio">Estudio</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estudio" name="doc-estudio" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-oficina">Oficina</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-oficina" name="doc-oficina" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-bodega">Bodega</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-bodega" name="doc-bodega" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-alberca">Alberca</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-alberca" name="doc-alberca" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estudio">Cisterna</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estudio" name="doc-estudio" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-oficina">Especiales</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-oficina" name="doc-oficina" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-bodega">cocina Integral</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-bodega" name="doc-bodega" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Estufa</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Campana</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-oficina">Boiler</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-oficina" name="doc-oficina" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Tinaco</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Alacena</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">

                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">timbre</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Alarma</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Cortinas</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Persianas</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Vestidor</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Área de Trabajo</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Sala Juntas</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Garage Eléctrico</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Abanicos de techo</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Alfombra</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Gas Estacionario</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Closet</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <div class="col-lg-8 tar lbl-cond">
                                <label for="doc-estufa">Lámparas</label>
                            </div>
                            <div class="col-lg-4 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                    </div>

                    <label>Condiciones :</label>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-estufa">Contrato mínimo un año</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-oficina">Llaves</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">

                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-estudio">Un mes depósito</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-6">

                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-oficina">Cita</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">

                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-estudio">Un mes de renta adelantado</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                        <div class="form-group col-lg-6">

                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-oficina">Contado</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">

                            <div class="col-lg-6 tar lbl-cond">
                                <label for="doc-estudio">Fiador con bien raíz o fineza</label>
                            </div>
                            <div class="col-lg-6 tal">
                                <input id="doc-estufa" name="doc-estu" type="checkbox" class="cbx-frm" placeholder="Ingrese Nombre Usuario" required>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer tac">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnModalAdd" class="btn btn-primary"><i class="fas fa-print"></i> Imprimir</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!--- section modal DESCRIPCIÓN CUALITATIVA-->
<div id="modal-des-cual" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="frmCualitativa" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titleAsesor">Descripción Cualitativa</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 tac form-group">
                        <label>Propiedad</label>
                        <textarea rows="4" id="inpPropC" class="form-control"></textarea>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Ubicación</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpUbiC" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Descripción</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpDesC" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Equipamiento</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpDesC" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Áreas Comunes</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpDesC" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Condiciones de venta</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpDesC" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Dimensiones</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpDesC" class="form-control"></textarea>
                        </div>
                    </div>

                    <div id="sect" class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Precio</label>
                        </div>
                        <div class="col-md-9 col-xs-12 input-group">
                            <span class=" input-group-addon"><i class="fas fa-dollar-sign"></i></span>
                            <input class="form-control" type="number" />
                            <span class=" input-group-addon">Pesos</span>
                        </div>
                    </div>

                    <div class="col-lg-12 ovf-y sec-mb">
                        <div class="col-md-3 col-xs-12 titles">
                            <label>Instrucciones de Visita</label>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <textarea rows="4" id="inpDesC" class="form-control"></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer tac">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnModalAdd" class="btn btn-primary"><i class="fas fa-print"></i> Imprimir</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!--- section modal VALOR COMERCIAL -->
<div id="modal-des-tec" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="formAsesor" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titleAsesor">Agregar Asesor</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 tac form-group">
                        <label>Propiedad</label>
                        <textarea rows="4" id="inpPropVC" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnModalAdd" class="btn btn-primary"><i class="fas fa-print"></i> Imprimir</button>
                </div>

            </form>
        </div>
    </div>
</div>
