﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="RO Solutions" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Century 21</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTableCSS")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/Content/fa-svg")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/WaitMe/waitMe.min.js"></script>
    <script src="~/Scripts/generales/validations.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:none;">
        <div class="container img-logo" onclick="home();">
            <img src="~/Content/imgs/Logo_Blanco_Century.png" alt="Alternate Text" class="imagen-logo" />
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse bg-color-nav">
            <div class="container">
                <ul id="" class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/century21elgahermosillo/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a>|</a></li>
                    <li><a class="bold"><i class="fas fa-phone"></i>(662)214-3445</a></li>
                    <li><a>|</a></li>
                    <li><a class="bold"><i class="fas fa-envelope"></i> Contacto@century21elga.com</a></li>

                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse difuminado">
            <div class="container">
                <ul id="ul-admin" class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nosotros", "Nosotros", "Home")</li>
                    <li>@Html.ActionLink("Asesores", "Asesores", "Asesores")</li>
                    <li>@Html.ActionLink("Aviso de Privacidad", "Privacidad", "Home")</li>
                    <li><a href="/#contacto">Contacto</a></li>
                    <li>@Html.ActionLink("Iniciar Sesión", "LogIn", "Account")</li>
                </ul>
            </div>
        </div>


    </div>

    @*<div style="margin-top: 50px;">
            @RenderBody()
        </div>*@


    @RenderBody()
    <div class="container no-pd-LR">
        <hr />
        <footer class="col-lg-12 tac">
            <p>&copy; @DateTime.Now.Year - Powered With <i class="fas fa-heart hear-red"></i> By RO Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    
    <script>
        function home() {
            window.location.href = "/";
        };
    </script>
</body>
</html>
