﻿
@{
    ViewBag.Title = "Asesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="contenedor">
    <div class="container">
        <div class="page-header">
            <h2>Asesores</h2>
        </div>
        <div class="table-responsive">
            <table id="tblAsesores" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo Electrónico</th>
                        <th>Teléfono</th>
                        <th>Propiedades</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!--MODAL Detalle-->
<div id="modal-detalle" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formPropiedad" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Propiedades Asignadas al Asesor</h4>
                </div>
                <div class="modal-body">
                    <section class="sctAsesor">
                        <div class="col-lg-8 col-lg-offset-2 border" >
                            <div class="col-md-12 col-sm-12 col-xs-12 tac">
                                <img id="imgAsesor" src="" alt="Asesor Sin Imagen" class="imageAsesor" />
                            </div>
                            <div class="info-asesor">
                                <div id="AseName" class="name-asesor">Alejandra Valencia</div>
                                <div id="AseTel" class="cel-asesor"><i class="fas fa-mobile"></i>(662) 2070283</div>
                                <div id="AseEmail" class="email-asesor"><i class="fas fa-envelope"></i>alejandra@century21elga.com.mx</div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="table-responsive">
                            <table id="tblDetalle" class="table">
                                <thead>
                                    <tr class="tr-black">
                                        <th >CLAVE</th>
                                        <th>UBICACIÓN</th>
                                        <th>LOCALIZACIÓN</th>
                                        <th>PRECIO (MXN)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/DataTable/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Asesores/AsesorDetalle.js"></script>
}