﻿
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script>
    var pkId = '@ViewBag.pk';
    </script>

}

<div class="container contenedor">
    <div class="page-header ovf-y">
        <div class="col-lg-12">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <h2>Detalle</h2>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12 tar">
                <button class="btn btn-warning" id="btnSendInfo">Enviar a mi correo</button>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 ovf-y">
        <div class="sectionimgs col-lg-7 col-md-7 col-sm-12 no-pd-LR mg-T">
            <div id="detalle-carousel" class="carousel slide">
                <!-- PRECIO -->
                <div class="top-right" style="z-index:100;">
                    <span id="precio-p" class="label label-warning"></span>
                </div>

                <div class="top-left" style="z-index:100;">
                    <img class="img-over" src="/Content/imgs/Logo_Century_Fondo.png" alt="Alternate Text" />
                </div>

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @*<li data-target="#detalle-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#detalle-carousel" data-slide-to="1"></li>
                        <li data-target="#detalle-carousel" data-slide-to="2"></li>*@
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @*<div class="item active">
                            <img src="~/Content/imgs/alberto-castillo-q-346020.jpg" alt="...">
                        </div>
                        <div class="item">
                            <img src="~/Content/imgs/christopher-harris-55545.jpg" alt="...">

                        </div>
                        <div class="item">
                            <img src="~/Content/imgs/logo.png" alt="...">

                        </div>*@
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#detalle-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#detalle-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>

        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 no-pd-R mg-T">
            <div class="card-block">
                <div class="bold" id="crd1"> </div>
                <div id="clave-p" class="bold"></div>
            </div>
            <div class="card-block">
                <div class="bold">Ubicación </div>
                <div>
                    <label id="p-calle" class="light"></label>
                    <label id="p-num" class="light"> </label>
                    <label id="p-col" class="light">  </label>
                    <label id="p-cd" class="light"></label>
                    <label id="p-edo" class="light"> </label>
                </div>
            </div>
            <div class="sectionimgs-totales">
                <div id="divImgMin1" class="col-lg-12 ovf-y ">
                    @*<div class="col-lg-4 col-md-4 col-sm-12">
                            <img data-target="#detalle-carousel" data-slide-to="0" class="img-propiedad" src="~/Content/imgs/alberto-castillo-q-346020.jpg" alt="Alternate Text" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img data-target="#detalle-carousel" data-slide-to="1" class="img-propiedad" src="~/Content/imgs/alberto-castillo-q-346020.jpg" alt="Alternate Text" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img data-target="#detalle-carousel" data-slide-to="2" class="img-propiedad" src="~/Content/imgs/alberto-castillo-q-346020.jpg" alt="Alternate Text" />
                        </div>*@
                </div>

                <div id="divImgMin2" class="col-lg-12 ovf-y">
                    @*<div class="col-lg-4 col-md-4 col-sm-12">
                            <img data-target="#detalle-carousel" data-slide-to="3" class="img-propiedad" src="~/Content/imgs/alberto-castillo-q-346020.jpg" alt="Alternate Text" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img data-target="#detalle-carousel" data-slide-to="4" class="img-propiedad" src="~/Content/imgs/alberto-castillo-q-346020.jpg" alt="Alternate Text" />
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 ovf-y section-two">
        <div class="card-block col-lg-5 ovf-y">
            <section>
                <h3>DATOS DE LA PROPIEDAD</h3>
                <div class="data-group">
                    <label class="bold">Tipo: </label>
                    <label id="type-p" class="light"></label>
                </div>
                <div class="data-group">
                    <label class="bold">Operación: </label>
                    <label id="contract-p" class="light"></label>
                </div>
                <div class="data-group">
                    <label class="bold">Terreno: </label>
                    <label id="terreno-p" class="light"><sup></sup></label>
                </div>
                <div class="data-group">
                    <label class="bold">Construcción: </label>
                    <label id="construccion-p" class="light"><sup></sup></label>
                </div>
                <div class="data-group">
                    <label class="bold">Recamaras: </label>
                    <label id="recamaras-p" class="light"></label>
                </div>
                <div class="data-group">
                    <label class="bold">Baños: </label>
                    <label id="bano-p" class="light"></label>
                </div>
                <div class="data-group">
                    <label class="bold">Estancia: </label>
                    <label id="estancia-p" class="light"></label>
                </div>
                <div class="data-group">
                    <label class="bold">Estacionamientos: </label>
                    <label id="cochera-p" class="light"></label>
                </div>
            </section>

            <section>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img id="img-asesor" src="" alt="Alternate Text" />
                </div>
                <div class="col-lg-8">
                    <h4>Asesor</h4>
                    <div id="AseName" class="name-asesor"></div>
                    <div id="AseTel" class="cel-asesor"><i class="fas fa-phone"></i></div>
                    <div id="AseEmail" class="email-asesor"><i class="fas fa-envelope"></i></div>
                </div>
            </section>

        </div>
        <div class=" col-lg-7">
            <div class="card-block taj">
                <div class="tac">
                    <h3>DESCRIPCIÓN</h3>
                </div>

                <p id="description-p"></p>
            </div>
            <div class="card-block">
                <div class="tac">
                    <h3>MÁS INFORMACIÓN</h3>
                </div>
                <form id="frmMasInfo">
                    <div class="input-group pd-t">
                        <span class="input-group-addon icolor">
                            <i class="fas fa-user"></i>
                        </span>
                        <input id="cname" name="cname" type="text" class="form-control" placeholder="Nombre Completo" required>
                    </div>
                    <label for="cname" class="error" style="display: none;"></label>
                    <div class="input-group pd-t">
                        <span class="input-group-addon icolor">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input id="cmail" name="cmail" type="text" class="form-control" placeholder="Correo Electrónico" required>
                    </div>
                    <label for="cmail" class="error" style="display: none;"></label>

                    <div class="input-group pd-t">
                        <span class="input-group-addon icolor">
                            <i class="fas fa-mobile"></i>
                        </span>
                        <input id="cphone" name="cphone" type="text" class="form-control" placeholder="Teléfono" required>
                    </div>
                    <label for="cphone" class="error" style="display: none;"></label><label for="cname" class="error" style="display: none;"></label>

                    <div class="col-lg-12 no-pd-LR pd-t">
                        <textarea id="cmensaje" name="cmensaje" type="text" class="form-control" placeholder="Ingrese mensaje aquí" required></textarea>
                    </div>
                    <label for="cmensaje" class="error" style="display: none;"></label>

                    <div class="tac  pd-t">
                        <button type="submit" class="btn btn-warning">Contactar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-lg-12">
        <div class="card-block">
            <div class="tac">
                <h3>UBICACIÓN</h3>
            </div>
            <iframe src="" frameborder="0" class="map-frame col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:300px;"></iframe>
        </div>
    </div>
</div>

<!--- section Enviar Info correo -->
<div id="modal-send-info" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tac">
                <h2>Enviar información a mi correo</h2>
            </div>
            <form id="frmSend">

                <div class="modal-body ovf-y tac">

                    <div class="col-lg-12 col-md-12 modal-sm-12">

                        <div class="input-group pd-t">

                            <span class="input-group-addon icolor">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <input id="mailInfo" name="mailInfo" type="email" class="form-control" placeholder="Correo Electrónico" required>
                        </div>
                        <label for="mailInfo" class="error" style="display: none;"></label>

                    </div>

                </div>
                <div class="modal-footer ovf-y tac pd-t">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>>
</div>

@section scripts{

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/generales/validations.js"></script>
    <script src="~/Scripts/Home/detalleResultado.js"></script>
}