﻿
@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenedor">
    <div class="container">
        <div class="page-header">
            <h2>Nosotros</h2>
        </div>
        <p>
            El sistema CENTURY 21 opera en mas de 72 países/territorios en todo el mundo, cuenta con mas de 7,700 oficinas y mas de 121,00 asesores inmobiliarios. Es la organización de bienes raíces más grande del mundo.
        </p>
        <p>
            Se estableció originalmente en el sur de California en los Estados Unidos en 1972 y en cinco años llegó a ser una marca reconocida en toda la unión americana y Canadá. En México se estableció en 1989 con la combinación de amplias experiencias y conocimientos en el ramo inmobiliario de los cofundadores de CENTURY 21
        </p>
        <p>
            El principal propósito de la región México de CENTURY 21 es ayudar a los corredores inmobiliarios afiliados al sistema a crecer en tamaño y producción.
        </p>
        <p>
            A través de un alto volumen de publicidad institucional el sistema brinda un valor agregado a todos sus clientes.
        </p>
        <br />

        <div class="info-left bdr-left">
            <h3>Misión</h3>
            <p>
                En primera instancia otorgar franquicias a corredores de bienes raíces. Una vez que se otorgan, CENTURY 21 México tiene la responsabilidad de hacerlas exitosas mediante una coordinación administrativa, capacitación, consultoría, tecnología, y el desarrollo de plataformas para atraer asesores de ventas para las oficinas afiliadas a CENTURY 21.
            </p>
        </div>
        <br />
        <div class="info-left bdr-left">
            <h3>Visión</h3>
            <p>
                Los lideres de CENTURY 21 México suman entre ellos mas de 150 años de experiencia en el negocio inmobiliario en varias generaciones y 40 años en el negocio de franquicias de bienes raíces bajo la marca de CENTURY 21 en los Estados Unidos y otros países.
            </p>
            <p>
                El éxito conlleva la responsabilidad de otorgar a nuestros clientes el mejor servicio en la industria de los bienes raíces. Esto se puede llevar a cabo otorgando capacitaciones de la mejor calidad y el conocimiento en bienes raíces mediante nuestros cursos, que son lo más avanzados en México.
            </p>
            <p>
                Nuestro éxito futuro depende directamente de la dedicación para ayudar a nuestros corredores y asesores de ventas a estableces prioridades de crecimiento en su capacidad individual y como oficina para mejorar su imagen, tamaño, volumen, que nos llevara a una mayor productividad y satisfacción de un trabajo bien hecho.
            </p>
        </div>
    </div>
</div>




