﻿
@{
    ViewBag.Title = "Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenedor">
    <div class="container">
        <div class="page-header">
            <h2>Aviso de Privacidad</h2>
        </div>

        <p>INMOBILIARIA ELGA S.A. DE C.V Y/O CENTURY 21 ELGA CON DOMICILIO COMERCIAL UBICADO EN EL BLVD. KINO NÚMERO 42-A DE LA COLONIA CONSTITUCIÓN DE LA CIUDAD DE HERMOSILLO, SONORA, ES RESPONSABLE DE RECABARLE DATOS PERSONALES Y/O DE LA PROPIEDAD QUE NOS ENCOMIENDA EN PROMOCIÓN INMOBILIARIA, ASÍ COMO TAMBIÉN DEL USO QUE ESTA OFICINA LE DÉ A LOS MISMOS Y DE SU PROTECCIÓN.</p>
        <br />
        <p>ESTA INFORMACIÓN SERÁ UTILIZADA CUANDO NOS LO REQUIERA EL PROCEDIMIENTO DE PROMOCIÓN DE SU PROPIEDAD Y DURANTE EL PROCESO DE VENTA O RENTA (SEGÚN SEA EL CASO) DEN OBJETIVO POR EL QUE USTED NOS CONTRATÓ, REFIRIÉNDONOS ESPECÍFICAMENTE A LOS DATOS QUE SE LE REQUIRIERON MEDIANTE EL CONTRATO CELEBRADO PARA LA PROMOCIÓN INMOBILIARIA O CUALQUIER OTRO DOCUMENTO CELEBRADO CON ESTA EMPRESA PARA EL MISMO FIN.</p>
        <br />
        <p>
            USTED TIENE DERECHO DE ACCEDER, RECTIFICAR Y CANCELAR SUS DATOS PERSONALES, ASÍ COMO DE OPONERSE AL TRATAMIENTO DE LOS MISMO O REVOCAR EL CONSENTIMIENTO QUE PARA TAL FIN NOS HAYA OTORGADO PONIÉNDOSE EN CONTACTO CON ESTA OFICINA SOLICITÁNDOLO DE MANERA ESCRITA PARA LLEVAR UN MEJOR CONTROL EN EL PROCEDIMIENTO.
            DE IGUAL MANERA LE INFORMAMOS QUE LOS DATOS QUE USTED NOS HA PROPORCIONADO SOLAMENTE PODRÁN SER TRANSFERIDOS Y/O TRATADOS POR PERSONAL DE ESTA EMPRESA Y CON LOS INVOLUCRADO EN LOS PROCESOS DE: PROMOCIÓN, CELEBRACIÓN DE LA OPERACIÓN DE VENTA O RENTA, (SEGÚN SEA EL CASO) Y CON QUIENES PARTICIPEN EN LA PRESENTACIÓN DE OFERTAS; FUERA DE LO ANTERIOR SU INFORMACIÓN NO PODRÁ SER COMPARTIDA, LO ANTERIOR ES EN BASE AL FIN PARA EL QUE HEMOS SIDO CONTRATADOS POR SU PERSONA.
        </p>
        <br />
        <p>ASÍ MISMO CON SU FIRMA EN ESTE DOCUMENTO NOS DAMOS POR ENTERADOS DE SU TOTAL CONFORMIDAD Y CONSENTIMIENTO CON EL MANEJO DE LOS DATOS PROPORCIONADOS EN BASE A LO CONTENIDO EN EL PRESENTE INSTRUMENTO LEGAL.</p>

    </div>

</div>
